PORT=8000
API_PREFIX=/api

# Frontend dev server origin (Vite)
FRONTEND_ORIGIN=http://localhost:3000

# JWT
JWT_SECRET=change_me_please
JWT_EXPIRES_IN=7d

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=sngvkus
DB_USER=root
DB_PASSWORD=mishamippoop
